*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

:root{
	--blue:rgb(27,40,68);
	--white:rgb(255,255,255);
	--red:rgb(207,0,0);
}

.wrapper{
	width: 1600px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}
header{
	height: 182px;
	border: 1px solid white;
}

header>img{
	position: absolute;
	margin-top: 15px; 
	margin-left: 156px;
}

nav{
	margin-top: 70px; 
	margin-right: 133px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;     
}

li {
    float: right;
    font-size: 14px;
    padding: 10px 23px;
}

li a {
    display: block;
    color: rgb(66,66,66);
    text-align: center;
    text-decoration: none;
}

li a:hover{
	color: var(--red);
}

li a.active {
    border-bottom: 3px solid rgb(224,112,112);
    padding-bottom: 10px; 
}

#watWeDoen{
	border: 1px solid ;
	background-color: var(--blue);
	padding-bottom: 95px;
}

#watWeDoen>h3{
	color: var(--white);
	font-weight: bold;
	font-size: 20px;
	margin-top: 102px;
	text-align: center;
}

#watWeDoen>section{
	margin-left: 156px;
	margin-top: 107px;
}

#watWeDoen>section>div{
	width: 385px;
	border: 1px solid var(--blue);
	display: inline-block;
}

#watWeDoen>section>div>p{
	margin-left: 40px;
	margin-right: 45px;
	font-size: 16px;
	color: rgb(234,234,236);	
}

.circle{
	margin-right: -30px;
	margin-bottom: 235px;
}

#watWeDoen>section>div>h2{
	color: rgb(211,212,216);
	font-size: 24px;
	margin-left: 38px;
	margin-bottom: 5px;	
}

hr { 
    display: block;
    margin-top: 97px;
    margin-bottom: 94px;
    margin-left: 220px;
    margin-right: 250px;
    border-style: inset;
    border-width: 1px;
} 

#watWeDoen>p{
	margin-left: 352px;
	margin-right: 350px;
	margin-bottom: 21px; 
}
#watWeDoen p{
	text-align: justify;
	color: rgb(198,201,208);
}

#arrow1img{
	position: absolute;
	margin-top: 55px;
	margin-left: 160px;
}

#arrow2img{
	position: absolute;
	margin-top: 78px;
	margin-left: 1360px;
}

#somep{
	text-align: center;
}

#watWeDoen>p>span{
	color: var(--red);
}

#watWeDoen>p>a{
	color: rgb(7,137,191);
	text-decoration: none;
}

#projecten{
	height: 318px;
	background-color:  var(--white);
}

#projecten>h3{
	color: rgb(0,0,0);
	font-weight: bold;
	font-size: 20px;
	margin-top: 103px;
	text-align: center;
}

#projecten>p{
	text-align: center;
	margin-top: 23px;
	color: rgb(102,102,102);
}

#projecten>nav{
	margin-top: 50px; 
	margin-bottom: 83px;
	margin-right: 302px;
	/*float: center;*/
}

#projecten>nav>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
      
}

#projecten>nav>ul>li {
    float: right;
    font-size: 14px;
    padding: 10px 23px;
}

a{
	outline: none;
}

#projecten nav ul li a {
    display: block;
    color: rgb(66,66,66);
    text-align: center;
    text-decoration: none;
}

#projecten nav ul li a:hover{
	color: var(--red);
}

#projecten nav ul li a.active {
    border-bottom: 3px solid rgb(224,112,112);
    padding-bottom: 12px; 
}

#voorvie{
	border: 1px solid;
	background-color: var(--blue);
}

#voorvie>h3{
	color:  var(--white);
	font-weight: bold;
	font-size: 20px;
	margin-top: 96px;
	text-align: center;
}

#voorvie>div{
	width: 935px;
	border: 1px solid var(--blue);;
	margin-top: 105px;
	margin-left: 332px;
}

#voorvie>div>p{
	text-align: justify;
	font-size: 16px; 
	line-height:1.5;
	color: rgb(198,201,208);
}

#voorvie div a{
	color: var(--red);;
	text-decoration: none;
}

.boldDots{
	color: white;
	margin-top: 36px;
    margin-bottom: 26px;
	margin-left: 449px;
}

.lastp{
	margin-bottom: 127px;
}

#onze{
	border: 1px solid white;
}

#onze>h3{
	margin-top: 103px;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
}

#onze>section{
	margin-top: 92px;
	margin-left: 158px;
	width: 1280px;
	display: flex;
	justify-content: space-between;
}

#onze>section>div{
	width: 300px;
}

#onze>section>div>img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#onze>section>div>h2{
	color: var(--blue);
	text-align: center;
	margin-top: 33px;
	margin-bottom: 28px;
	font-size: 24px;
	font-weight: lighter;
}

#onze>section>div>p{
	text-align: justify;
	color: rgb(102,102,102);
}

.ecommercep{
	margin-bottom: 108px;
}

#over{
	border: 1px solid;
	background-color: var(--blue);
	padding-bottom: 95px;
}

#over>h3{
	margin-top: 104px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 106px;
	color:  var(--white);
}

#over>div>div>span{
	font-weight: lighter;
	font-size: 50px;
	color: var(--red);
}

#over>div>div>p{
	display: inline-block;
	font-size: 16px;
	margin-left: 19px;
	color: rgb(223,224,226);
}

#over>div>div>p:hover{
	margin-left: 30px;
	cursor: zoom-in;
	color: var(--red);
	font-size: 22px;
}

.verticalLine {
  border-right: thin solid #ff0000;
}

#firstdiv{
	margin-left: 160px;
}

#seconddiv{
	margin-left: 450px;
	margin-top: 49px;
	margin-bottom: 49px;
}

#thirddiv{
	margin-left: 741px;
}

#contacten{
	height: 722px;
}

#contacten>h3{
	margin-top: 104px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: rgb(0,0,0);
}

#contcontact{
	width: 968px;
	border: 0px solid white;
	margin-left: 332px;
	margin-top: 105px;
	display: flex;
	justify-content: space-between;
}

#contcontact>div{
	width: 224px;
	border: 0px solid white;
}

#contcontact>div>img{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#contcontact>div>p{
	text-align: center;
	margin-top: 3px;
	margin-bottom: 1px;
	color: var(--blue);
}

#contactarrow{
	width: 1283px;
	height: 90px;
	border: 0px solid white;
	margin-left: 159px;
	margin-top: 66px;
}

#secondContArrow{
	display: block;
	margin-top: -64px;
	margin-left: 1218px;
}

#inputTextAndButton{
	width: 1282px;
	margin-top: 54px;
	margin-left: 159px;
	display: flex;
	justify-content: space-between;
}

#inputTextAndButton>div{
	width: 602px;
}

#inputTextAndButton>div>input{
	outline: none;
	display: block;
	width: 602px;
	height: 42px;
	padding-left: 17px;
	border: 2px solid rgb(231,231,231);
}


#firstInput{
	margin-bottom: 38px;
}

button{
	width: 162px;
	height: 42px;
	border: none;
	color:  var(--white);
	background-color: var(--blue);
	position: absolute;
	margin-top: 157px;
	margin-left: 1118px;
	cursor: pointer;
}

button:hover {
    background-color: var(--red);
    color: white;
}

#inputTextAndButton>span{
	position: absolute;
	margin-top: 175px;
	color: rgb(127,127,127);
}

#fixedButton{
	position: sticky;
	margin-left: 1415px;
	cursor: pointer;
	box-shadow: 2px 2px var(--white);
}

#fixedButton:hover{
	border: 1px solid var(--white);
}

#socSite{
	height: 100px;
	border: 1px solid rgb(228,228,228);
	background-color: rgb(228,228,228);
}
#socSite>div{
	width: 549px;
	height: 31px;
	border: 0px solid red;
	margin-top: 35px;
	margin-left: 480px;
	display: flex;
	justify-content: space-between;
}

#footerLastSection{
	border: 1px solid var(--blue);
	background-color: var(--blue);
}

#footerLastSection p{
	color:  var(--white);
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 14px;
	margin-left: 161px;
}
